* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  height: 60px;
  background-color: #0f1111;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-logo {
  width: 100px;
  height: 50px;
}

.logo {
  background-image: url(images/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100%;
}

.border {
  border: px solid transparent;
}

.border:hover {
  border: 1.5px solid #fff;
}

/*Box 2*/
.add-first {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;
}

.add-second {
  font-size: 1rem;
  margin-left: 3px;
}

.add-icon {
  display: flex;
  align-items: center;
}

/*Box 3*/
.nav-search {
  display: flex;
  justify-content: space-evenly;
  width: 628px;
  height: 40px;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  border-radius: 4px;
  border: none;
}

.nav-search:hover {
  border: 2px solid orange;
}

.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-radius: 4px 0 0 4px;
  border: none;
}

.search-input {
  border: none;
  width: 100%;
  font-size: 1rem;
}

.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #0f1111;
  border-radius: 0 4px 4px 0;
  background-color: #febd68;
}
.nav-at-small {
  display: none;
}
/*Box 4 & 5*/
span {
  font-size: 0.75rem;
}

.nav-second {
  font-size: 0.85rem;
  font-weight: 700;
}

/*Box 6*/
.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
}

.nav-cart i {
  font-size: 30px;
}

/*Panel*/
.panel {
  height: 40px;
  background-color: #222f3d;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.panel-ops {
  width: 90%;
}

.panel-ops p {
  display: inline-block;
  font-size: 0.85rem;
  margin-left: 20px;
}

/*Hero*/
.hero {
  background-image: url(images/Hero-Image.jpg);
  background-size: cover;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-msg {
  background-color: #fff;
  color: black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  width: 80%;
  margin-bottom: 25px;
}

.hero-msg a {
  color: #007185;
}

/*Shop*/
.shop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 10px;
  background-color: #e2e7e6;
}

.box {
  grid-column: span 1;
  height: 400px;
  background-color: #fff;
  padding: 20px 0px 15px;
  margin: 2rem 1rem;
}

.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-img {
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  margin: 1rem 0rem;
  border: 1px solid rgb(225, 223, 223);
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 7px;
  column-gap: 10px;
  height: 300px;
  margin: auto;
  margin: 0.9rem 0rem;
}
.sub-box {
  height: 145px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgb(225, 223, 223);
}
.box-content h2 {
  font-size: 1.2rem;
}

.box-content p {
  color: #007185;
  font-size: 0.75rem;
}

/*Footer*/
footer {
  margin-top: 25px;
}

.foot-panel1 {
  background-color: #37475a;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  height: 50px;
}

.foot-panel2 {
  background-color: #222f3d;
  color: #fff;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ul a {
  display: block;
  margin-top: 10px;
  color: #dddddd;
  font-size: 0.85rem;
}

.foot-panel3 {
  background-color: #222f3d;
  color: #fff;
  border-top: 0.5px solid #37475a;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  background-image: url(images/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100px;
}

.foot-panel4 {
  background-color: #0f1111;
  color: #fff;
  height: 80px;
  font-size: 0.75rem;
  text-align: center;
}

.pages {
  padding-top: 25px;
}

.copyright {
  padding-top: 5px;
}

@media screen and (max-width: 1024px) {
  .nav {
    height: 70px;
  }
  .nav-search {
    width: 250px;
    height: 40px;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
  .panel {
    height: 50px;
    padding-top: 0.6rem;
  }
  .panel-ops p {
    display: inline-block;
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
  }
  .hero {
    height: 300px;
  }
  .hero-msg {
    height: 50px;
    font-size: 1rem;
    margin-bottom: 35px;
  }
  .shop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
  }
  .box {
    height: 400px;
    margin-bottom: 3px;
  }
}
@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  .nav-at-small {
    padding: 1rem;
    height: 120px;
    display: flex;
    flex-direction: column;
  }
  .nav-at-small-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0.4rem;
    width: 100%;
  }
  .nav-at-small > .nav-search {
    width: 100%;
    margin: 0rem 1rem;
  }

  .panel-ops {
    overflow: auto;
    white-space: nowrap;
  }
  .hero {
    height: 240px;
    background-size: 150%;
    background-position: center top;
    background-repeat: no-repeat;
  }
  .hero-msg {
    height: 50px;
    width: 100%;
    padding: 0.4rem;
    font-size: 0.6rem;
    margin: 0px 2rem;
    margin-bottom: 35px;
  }
  .shop {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin: 0px;
    gap: 0px 0px;
  }

  .box-img {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .foot-panel2 {
    background-color: #222f3d;
    color: #fff;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .foot-panel2 > ul {
    margin: 1.5rem;
  }
}
@media screen and (max-width: 330px) {
  .hero {
    height: 240px;
    background-size: 160%;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
